/* 共通 */
.icon {
    width: 80px;
	height: 80px;
	object-fit:cover;
	border-radius:50%;
    border: 3px solid #999;
  }

.image {
    width: 400px;
    border-radius: 20px;

}
a {
    text-decoration:none;
    color: black;
}

textarea {
    resize: none;
}

main {
    margin-top: 60px;
}

button {
    border: none; /* 枠線消す */
    background-color: #ebe6e6fb;
    border-radius: 100vh;
    font-size: 15px;
    padding: 8px 12px;
}

.user-button {
    border: none;
    background-color: #ebe6e6fb;
    border-radius: 100vh;
    font-size: 12px;
    padding: 6px 10px;
}

/* ヘッダー */

header {
    background-color: #9dadd4;
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
  }

header a {
    color: #fff;
} 

.navbar-sitename {
    float: left;
    font-size: 30px;
    padding: 10px 20px;
    
}

.navbar-list li {
    list-style: none;
    float: right;
    padding: 10px 15px;
  }

.navbar-item {
    margin-right: 20px;
}

/* index.php */

/* 投稿フォーム */

.post-form {
    text-align: center;
    padding-top: 10px;
}

.form {
    padding-top: 20px;
}

.textarea-post {
	width: 450px;
	height: 60px;
}

.image-upload {
    display: inline-block;
    padding-left: 30px;
    padding-right: 10px;
}

.btn-post-form {
    padding: 8px 24px;
    margin-right: 25px;
    color: rgb(0, 0, 0);
    display: inline-block;
    border-radius: 100vh;
    font-size: 15px;
  }
.post-form h3 {
    padding-top: 5px;
}

/* タイムライン */

.container {
    width: 70%;
    padding: 0 15px;
    margin: 0 auto;
  }  

.timeline {
    padding-top: 28px;
    margin-bottom: 100px;
    text-align: center;
    border-bottom: 1px solid #dbd9d9;
}

.timeline-contents {
    padding-top: 0;
    border-top : 1px solid #dbd9d9;
}

.timeline-buttons {
    border-bottom: 1px solid #dbd9d9;
    padding-bottom: 16px;
}

.timeline-buttons:last-child {
    border: none;
  }

.timeline-btn-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 6px 4px;
    margin-bottom: 0px;
    margin-top: 0px;
}   

.timeline-btn-list li {
    list-style: none;
}

.timeline-username p {
   font-weight: bold;
   margin-bottom: 12px;
   margin-top: 0px;
}

.timeline-post p {
    margin-bottom: 12px;
    margin-top: 0px;
}

.timeline-likes {
    margin-bottom: 5px;
    margin-top: 5px;
}

.timeline-date p {
    margin-bottom: 5px;
    margin-top: 5px;
}

/* search.php */

.search {
    text-align: center;
    border-bottom:1px solid #dbd9d9;
}

.search-box {
    padding: 30px 0;
}
.post-results {
    border-top:1px solid #dbd9d9;
}

.search-buttons {
    border-bottom:1px solid #dbd9d9;
}

.search-buttons:last-child {
    border: none;
  }

.search-username {
    font-weight: bold;
  }

.search-btn-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 6px 4px;
}
.search-btn-list li {
    list-style: none;
}

.user-results {
    border-top:3.5px solid #dbd9d9;
}

.search-users-btn-account {
    margin-bottom: 15px;
}

/* user.php */

.user {
    text-align: center;
    border-bottom:1px solid #dbd9d9;
    padding-bottom: 18px;
}

.user-profile a {
    color: black;
}

.follow-block-list {
        display: flex;
        justify-content: center;
        padding-left: 0;
        gap: 6px 4px;
}

.follow-block-list li {
    list-style: none;
    margin-left: 4px;
}

.user-profile {
    padding-top: 10px;
    padding-bottom: 20px;
}

.user-title {
    margin-bottom: 0px;
}

.user-post {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px 20px;
}

.user-username {
    font-weight: bold;
}

.user-icon {
    width: 50px;
	height: 50px;
	object-fit:cover;
	border-radius:50%;
    border: 3px solid #999;
}

.user-likes {
    margin-bottom: 5px;
    margin-top: 5px;
}

.user-date {
    margin-bottom: 5px;
    margin-top: 5px;
}
.user-post-image {
    margin: 0;
}

.user-post-buttons {
    padding-bottom: 16px;
}

.user-post-btn-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 6px 4px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.user-post-btn-list li {
    list-style: none;
}

.user-post-stmt {
    margin-top: 0;

}

/* 投稿一覧 */

.user-posts {
    border-top: 1px solid #dbd9d9;
    border-bottom: 1px solid #dbd9d9;
}

/* いいね一覧 */

.user-goods {
    border-top:1px solid #dbd9d9;
}

/* フォロー一覧 */

.user-follows {
    border-top:1px solid #dbd9d9;
    border-bottom:1px solid #dbd9d9;
}

.user-follows h3 {
    margin-bottom: 0px;
}

.user-follow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px 20px;
}

.user-follow-btn-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 6px 4px;
    margin-top: 0px;
}

.user-follow-btn-list li {
    list-style: none;
}

/* フォロワー一覧 */

.user-follower {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px 20px;
}

.user-follower h3 {
    margin-bottom: 0px;
}

.user-follower-btn-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 6px 4px;
    margin-top: 0px;
}

.user-follower-btn-list li {
    list-style: none;
}

/* reply.php */

.reply {
    text-align: center;
    border-bottom: 1px solid #dbd9d9;
}

.reply-username {
    font-weight: bold;

}

/* 親投稿 */

.reply-parent {
    border-bottom: 2px solid #acabab;
padding-bottom: 20px;
}

.reply-parent-btn-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 6px 4px;
}

.reply-parent-btn-list li {
    list-style: none;
}

.reply-parent-form {
    display: flex;
    justify-content: center;
    gap: 6px 10px;
}

.reply-parent-icon {
    padding-top: 20px;
}

.block-post {
    margin-bottom: 0;
    padding-top: 20px;
}

/* 返信投稿 */

.reply-children {
    border-bottom: 1px solid #dbd9d9;
    padding-bottom: 15px;
}

.reply-children:last-child {
    border: none;
  }

.reply-child-btn-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 6px 4px;

}
.reply-child-btn-list li {
    list-style: none;
}

.reply-child-form {
    display: flex;
    justify-content: center;
    gap: 6px 10px;
}

.block-reply {
    margin-bottom: 0;
}

/* users-list.php */

.users-list {
    text-align: center;
    border-bottom:1px solid #dbd9d9;
    padding-top: 14px;
}

.users-list-username {
    font-weight: bold;
    margin-top: 12px;
}

.users-list-buttons {
    border-bottom: 1px solid #dbd9d9;
}

.users-list-buttons:last-child {
    border: none;
  }

.users-list-btn-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 6px 4px;
}

.users-list-btn-list li {
    list-style: none;
    margin-left: 4px;
}

/* profile_edit.php */

.edit {
    text-align: center;
    margin: 56px 0;
    border-bottom:1px solid #dbd9d9;
}

.edit-user {
    padding-top: 10px;
}

.edit-icon {
    border-top:1px solid #dbd9d9;
    border-bottom:1px solid #dbd9d9;
    margin: 30px 0;
    padding-top: 10px;
    padding-bottom: 30px;
}

.delete_icon {
    margin-top: 30px;
}

.edit-profile-stmt {
    border-bottom:1px solid #dbd9d9;
    padding-bottom: 30px;
}

.profile-box {
    width: 350px; 
    height: 50px;
}

.profile-form button{
    margin: 12px 0 18px 0;
    padding: 8px 12px;
}

.show-block-account {
    margin: 30px 0 22px 0;
}

.delete_account {
    margin-bottom: 30px;
}

/* bookmark.php */


/* block.php */

.block {
    text-align: center;
    padding-top: 40px;
}

.block button {
    margin-top: 20px;
}

/* block_account.php */

.block-account {
    text-align: center;
    border-bottom: 1px solid #dbd9d9;
    padding-top: 12px;
    margin-bottom: 100px;
}

.block-account h3 {
    padding-top: 38px;
    margin-bottom: 50px;
}

.block-account-btn {
    border-bottom: 1px solid #dbd9d9;
    padding-top: 4px; 
    padding-bottom: 18px;   
}

.block-account-btn:last-child {
    border: none;
  }

.no-block-account-btn {
    padding-bottom: 70px;
}

/* account_entry.php */
.login {
    text-align: center;
}

.register-account {
    text-align: center;
    border-bottom:1px solid #dbd9d9;
}

.textbox {
    width: 300px; 
    height: 30px;
}

.btn-login {
    margin: 35px 0;
    width: 310px; height: 35px;
    border-radius: 5px;
}
.notice {
    margin-bottom: 0px;
}

/* confirm.php */

.confirm {
    text-align: center;
    margin-top: 40px;

}
.confirm h2 {
    padding: 20px 0;
}

.btn-confirm {
    margin-top: 35px;
}

.btn-confirm button {
    margin: 0 15px
}

.confirm label {
    font-weight: bold;
}

/* logout.php */

.logout {
    text-align: center;
    margin-top: 65px;
}

.logout h3 {
    margin-bottom: 50px;
}

.logout button {
    padding: 8px 12px;
    border-radius: 100vh;
}

.logout a {
    color: black;
}

/* account_delete.php */

.delete-account {
    padding-top: 50px;
    text-align: center;
}

.delete-account h3{
    margin-bottom: 50px;
}


.delete-account button {
    margin: 0 15px;
}

.delete_account a {
    color: black;
}

/* goodbye.php */

.goodbye {
    text-align: center;
    margin-top: 65px;
}

.goodbye a {
    color: black;
}
